@mixin button($bg) {
	background: $bg;
	color: $white;
	padding:8px 32px 7px;
	display: inline-block;
	@include border-radius(100px);
}

a.btn,
button.btn {
   @include button( none );
   	border: 2px solid $white;
   	&:hover{
   		background: $white;
   		color: $brand-tertiary;
   	}
}

.btn-primary {
	@include button($matisse);
	padding: 14px 32px 13px;
	font-size: em(18);
	&:hover{
   		background: $white;
   		color: $brand-tertiary;
   	}
}

.btn-secondary {
	@include button($white);
	color: $matisse;
}

.link-primary{
	position: relative;
	text-transform: uppercase;
	&:after{
	    content: '';
	    width: 45%;
	    background: $brand-tertiary;
	    height: 2px;
	    position: absolute;
	    bottom: -12px;
	    left: 50%;
	    transform: translateX(-50%);
	}
}