*,
*:after,
*:before {
	@include box-sizing(border-box);
}

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 150px 0 0 0;
	display: grid;
	grid-template-areas:
		"header"
		"content"
		"footer";
}
body.index {
	padding-top: 0;
}

.container {
	width: 100%;
	max-width: $site-width;
	margin: 0 auto;
	padding: 0 20px;
}

.inner-container {
	max-width: 860px;
	margin: 0 auto;
	padding: 0 20px;
}

section {
	min-height: 386px;
	padding: 52px 0 80px;
	@include mq($from: mobile, $until: tablet) {
		padding: 32px 0 60px;
	}
}

.col-3 {

	@include mq($from: tablet) {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		> div{
			display: inline-block;
			padding:0 20px 0 20px;
			width: 33%;
		}
	}	
	> div{
		margin-bottom: 60px;
		@supports (display: grid) {
			width: auto;
		}
	}
	.icon-container {
		height: 175px;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			max-width: 150px;
			height: auto;
		}
	}
}

/* css grid */
.nav-header {
	grid-area: header;
}

.main-content {
	grid-area: content;
	z-index: 2;
	position: relative;
}

.page-footer {
	grid-area: footer;
}
