.about {

}
.team {
	padding-bottom: 0;
	h2 {
		padding-bottom: 40px;
	}
	.container {
		display: flex;
		div {
			flex: 1 1 1 1;
			padding: 0 40px;
			img {
				max-width: 100%;
				display: block;
			}
		}
	}
}
.sub-template-content{
	background-image: linear-gradient(to right, rgba(255, 194, 56, 0.4) 0%, rgba(255, 155, 56, 0.5) 100%);
	padding-top: 70px;
	.container {
		max-width: 768px;
		padding: 0 20px;
		text-align: left;
	}
	h3,
	p {
		color: #333;
	}
	p {
		margin-bottom: 35px;
	} 
	&.row-white {
		text-align: left;
		background: $white;
		p {
			margin-bottom: 35px;
		}
	}
}