.about {

}
.sub-template-content{
	background-image: linear-gradient(to right, rgba(255, 236, 209, 0) 0%, rgba(252, 184, 161, 0.48) 100%);
	padding-top: 50px;
	.container {
		max-width: 768px;
		padding: 0 20px;
		text-align: left;
	}
}