.contact {
	.sub-template-content{
		background: none;
	}
	.hero  {
		padding-bottom: 50px;
	}
  .contact-form {
		padding-top: 0px;
	}	
	.img-container {
		display: none;
	}
	.content-container {
		padding-top: 0;
		padding-left: 0;
		text-align: center;
		max-width: 600px;
		margin: 0 auto;
	}
	.intro-text {
		color: $brand-secondary;
	}
	.main-content {
		background: radial-gradient(ellipse at center, #8fdef1 0%, #2fa6c1 100%);
		.container{
	    max-width: 700px;
	    margin: 0 auto 0px;
	    padding-bottom: 30px;
	    padding-top: 0px;
	    position: relative;
	  }
	}
  h2{
    color: $white;
    margin-bottom: 25px;
  }
  label {
    color: $white;
    font-size:  20px;
    display: block;
    margin-bottom: 12px;
    font-weight: 600;
  }
  textarea{
    width: 100%;
    height: 100px;
    border: 3px solid $white;
    appearance: none;
    outline: none;
    border-radius: 0;
    margin-bottom: 25px;
    background: rgba(255,255,255,0.25);
    font-size: 18px;
    color: $brand-secondary;
    padding: 10px;
   @include mq($from: mobile, $until: tablet) {
      width: 100%;
    }
  }
  input {
    width: 70%;
    margin-bottom: 25px;
    height: 45px;
    border: 3px solid $white;
    appearance: none;
    outline: none;
    background: rgba(255,255,255,0.25);
    border-radius: 0;
    font-size: 18px;
    color: $brand-secondary;
    padding: 0 10px;
    @include mq($from: mobile, $until: tablet) {
      width: 100%;
    }

  }
  .contact-form {
    text-align: left;
    padding: 0 70px 0px;
    position: relative;
    z-index: 3;
    @include mq($from: mobile, $until: tablet) {
      padding: 20px;
    }
  }
  button.btn-primary {
    border: none;
    text-align: center;
    margin: 20px auto 0;
    width: 100%;
    font-weight: bold;
    font-size: 22px;
    appearance: none;
    padding: 18px 0 20px;
    font-family: $font-family-body;
    @include mq($from: mobile, $until: tablet) {
      font-size: 18px;
    }
  }
}