.estimate {
	.hero {
		position: absolute;
		z-index: 2;
		width: 100%;
		padding: 25px 0 0;
		h1{
			margin-bottom: 10px;
			font-size: 48px;
		}
		p {
			margin-bottom: 0;
			margin-top: 0;
		}
	}
  section {
    min-height: 650px;
  }
  section a {
    display: block;
  }
	.main-content {
		z-index: 1;
	}
  .selection-container {position: relative;}
  .selection-container.active::after {
    content: '';
    background: rgba(255, 255, 255, 0.65);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
  }
	.step-1 {
		background: radial-gradient(ellipse at center, #8fdef1 0%, #2fa6c1 100%);
		padding-top: 205px;
		padding-bottom: 50px;
	}
	.step-1 .selection-container{
		margin-bottom: 0;
		padding-top: 20px;
		transition: all .4s;
		h3 {
			letter-spacing: 0.15em;
			transition: all .4s;
		}
		&:hover {
		    background: rgba(255, 255, 255, 0.2);
		    h3 {
				letter-spacing: 0.2em;
			}
		}
	}
	.selection-container a{
		display: block;
	}
	.img-container{
		height: 135px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.step-1 .col-3 {
		padding-top: 20px;
		padding-right: 15px;
		padding-left: 15px;
		padding-bottom: 20px;
    margin-top: -60px;
    border-top: none;
    border-right: 5px solid $brand-secondary;
    border-bottom: 5px solid $brand-secondary;
    border-left: 5px solid $brand-secondary;
    position: relative;
    &:after {
  		left: 0;
  		top: 0px;
  		width: 14%;
  		position: absolute;
  		content: '';
  		height: 5px;
  		background: $brand-secondary;
    }
    &:before {
			right: 0;
			top: 0px;
			width: 14%;
			position: absolute;
			content: '';
			height: 5px;
			background: $brand-secondary;
    }
	}
	.step-2 {
		.product-container {
			position: relative;
			&:after{
				content:'';
				position: absolute;
				right: 120px;
				top: -173px;
        height: 238px;
				width: 6px;
				z-index: 0;
				background: $brand-secondary;
			}
		}
		.img-container {
			position: absolute;
			right: 48px;
			top: -85px;
			z-index: 2;
		}
		h3 {
			padding-bottom: 40px;
		}
		.size-choices{
			font-size: 22px;
			line-height: 1.5;
      min-height: 400px;
      display: flex;
			> div {
				display: block;
				padding: 40px;
				background: $brand-tertiary;
				color: $white;
				border: 5px solid $white;
        letter-spacing: 0em;
        transition: all .25s;
        cursor: pointer;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        &.active,
        &:hover{
          border: 5px solid $brand-secondary;
          letter-spacing: 0.025em;
        }
			}
		}
	}
  .step-3 {
    background: radial-gradient(ellipse at center, #8fdef1 0%, #2fa6c1 100%);
    padding: 50px 0;
    h2 {
      color: $white;
      margin-bottom: 50px;
    }
    .product-container {
      position: relative;
      &:after{
        content:'';
        position: absolute;
        left: 120px;
        top: -220px;
        height: 188px;
        width: 6px;
        z-index: 0;
        background: $brand-secondary;
      }
    }
    .color-choices{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-self: center;
      justify-self: center;
      div {
        &.active a{
          border: 5px solid $brand-secondary;
        }
      }
      a {
        border: 5px solid transparent;
        min-height: 200px;
        display: block;
        padding: 40px;
        color: $white;
        overflow: hidden;
        position: relative;
        transition: all .25s;
        &:hover{
          border: 5px solid $brand-secondary;
        }
        h3 {
          letter-spacing: 0.2em;
        }
      }
      h3 {
        color: $white;
        position: relative;
        z-index: 2;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.96);
        position: relative;
        font-weight: 900;
        font-size: 22px;
        z-index: 2;
        letter-spacing: 0.15em;
        transition: all .25s;
        padding-top: 20px;
      }
    }
    .other {
      text-align: left;
      background: rgba(214, 208, 208, 0.43);
      margin: 5px;
      p {
        color: $white;
        font-style: italic;
        margin-bottom: 48px;
        margin-top: 31px;
        text-align: center;
      }
      label {
        color: $white;
        font-weight: bold;
        display: block;
        font-size: 18px;
        margin: 0 5% 6px;
      }
      input {
        width: 90%;
        height: 46px;
        border: 4px solid #fff;
        outline: none;
        font-size: 18px;
        padding: 6px;
        margin: 0 5%;
        &:focus{
          border: 4px solid $brand-secondary;
        }
      }
    }
  }
  .color-choices a img {
    max-width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index:1;
  }
}
.step-4 {
  h2 {
    margin-bottom: 45px;
  }

  img {
    position: absolute;
    max-width: 100%;
  }

  .checkbox-container {
    font-size: 22px;
    line-height: 2em;
    text-align: left;
    border: 5px solid #fff;
    min-height: 400px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
  .no-addons.checkbox-container input[type="checkbox"] + label{
    background: none;
    color: $brand-secondary;
  }
  .no-addons.checkbox-container{
    border: none;
  }
  .col-3 > div {
    margin-bottom: 0;
  }
  label {
    position: relative;
    display: block;
  }

  input[type="checkbox"] {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it

    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
      background: rgba(47, 165, 192, 0.74);
      color: #fff;
      padding: 15px 11px;
    }

    // Box.
    & + label:before {
      content: '';
      margin-right: 9px;
      display: inline-block;
      vertical-align: text-top;
      width: 34px;
      height: 34px;
      top: -8px;
      position: relative;
      border: 4px solid #2fa5c0; 
      background: #fff;
    }
    
    // Box focus
    &:focus + label:before {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }

    // Box checked
    &:hover + label:before {
      border-color: #727372;
    }

    &:checked + label:before {
      border-color: #727372;
    }
    
    // Disabled state label.
    &:disabled + label {
      color: #b8b8b8;
      cursor: auto;
    }

    // Disabled box.
    &:disabled + label:before {
      box-shadow: none;
      background: #ddd;
    }

    // Checkmark. Could be replaced with an image
    &:hover + label:after {}
    &:checked + label:after {
      content: '';
      position: absolute;
      left: 22px;
      top: 24px;
      background: #fff;
      width: 11px;
      height: 19px;
      border: solid #2fa5c0;
      border-width: 0 6px 6px 0;
      transform: rotate(45deg);
    }
  }
}
.step-5 {
  .container{
    background: radial-gradient(ellipse at center, #8fdef1 0%, #2fa6c1 100%);
    width: 700px;
    height: 700px;
    padding-top: 120px;
    border-radius: 50%;
    margin: 0 auto;
  }
  h2{
    color: $white;
  }
  label {
    color: $white;
    font-size:  20px;
    display: block;
    margin-bottom: 10px;
  }
  textarea{
    width: 100%;
    height: 100px;
  }
  input {
    width: 50%;
    margin-bottom: 15px;
    height: 35px;
  }
  .contact-form {
    text-align: left;
    padding: 0 70px 50px;
  }
  p {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: italic;
  }
}
