.estimate {
	.hero {
		position: absolute;
		z-index: 2;
		width: 100%;
		padding: 25px 0 0;
		h1{
			margin-bottom: 10px;
			font-size: 48px;
      color: #fff;
      @include mq($from: mobile, $until: tablet) { 
        font-size: 38px;
        padding-top: 30px;
      }
		}
		p {
			margin-bottom: 0;
			margin-top: 0;
      color: #fff;
		}
	}
  section {
    min-height: 650px;
  }
  section a {
    display: block;
  }
	.main-content {
		z-index: 1;
	}
  fieldset{
    border: none;
    outline: none;
  }
  legend {
    font-size: 34px;
    font-weight: 700;
    font-family: "Playfair Display", serif;
  }
  .selection-container {position: relative;cursor: pointer;}
  .selection-container.active::after {
    content: '';
    background: rgba(255, 255, 255, 0.65);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
  }
	.step-1 {
		background: radial-gradient(ellipse at center, #8fdef1 0%, #2fa6c1 100%);
		padding-top: 205px;
		padding-bottom: 50px;
    .col-3 > div {
      padding: 50px 20px 5px 20px;
    }
    legend {
      color: #fff;
      margin-top: -38px;
      display: block;
      width: 100%;
      position: relative;
      left: 0;
      top: -33px;
      -webkit-appearance: none;
      -webkit-padding-start: 0;
      -webkit-padding-end: 0;
    }
    label.h3 {
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 20px;
      top: 0;
      left: 0;
    }
	}
	.step-1 .selection-container{
		margin-bottom: 10px;
		padding-top: 20px;
		transition: all .4s;

		h3 {
			letter-spacing: 0.15em;
			transition: all .4s;
		}
		&:hover {
		    background: rgba(255, 255, 255, 0.2);
		    h3 {
				letter-spacing: 0.2em;
			}
		}
	}
	.selection-container a{
		display: block;
	}
	.img-container{
		height: 135px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.step-1 .col-3 {
		padding-top: 30px;
		padding-right: 15px;
		padding-left: 15px;
		padding-bottom: 20px;
    margin-top: -60px;
    border-top: none;
    position: relative;
    @include mq($from: tablet) {
    border-right: 5px solid $brand-secondary;
    border-bottom: 5px solid $brand-secondary;
    border-left: 5px solid $brand-secondary;

      &:after {
    		left: 0;
    		top: 0px;
    		width: 14%;
    		position: absolute;
    		content: '';
    		height: 5px;
    		background: $brand-secondary;
      }
      &:before {
  			right: 0;
  			top: 0px;
  			width: 14%;
  			position: absolute;
  			content: '';
  			height: 5px;
  			background: $brand-secondary;
      }
    }
	}
	.step-2 {
		.product-container {
			position: relative;
      color: #fff;
      label {
        color: #fff;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
      @include mq($from: tablet) {
  			&:after{
  				content:'';
  				position: absolute;
  				right: 120px;
  				top: -173px;
          height: 238px;
  				width: 6px;
  				z-index: 0;
  				background: $brand-secondary;
  			}
      }
		}
		.img-container {
			position: absolute;
			right: 48px;
			top: -85px;
			z-index: 2;
      @include mq($from: mobile, $until: tablet) {
        display: none;
      }
		}
		h3 {
			padding-bottom: 40px;
		}
		.size-choices{
			font-size: 22px;
			line-height: 1.5;
      @include mq($from: tablet) {
        min-height: 400px;
      }


      // display: flex;
			> div {
				display: inline-block;
        padding: 35px 20px;
				background: $brand-tertiary;
				color: $white;
				border: 5px solid $white;
        letter-spacing: 0em;
        transition: all .25s;
        cursor: pointer;
        margin-bottom: 10px;
        @include mq($from: tablet) {
          padding: 40px;
          margin-bottom: 20px;
        }
        @supports (display: grid) {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        &.active,
        &:hover{
          border: 5px solid $brand-secondary;
          letter-spacing: 0.025em;
        }
			}
		}
	}
  .step-3 {
    background: radial-gradient(ellipse at center, #8fdef1 0%, #2fa6c1 100%);
    padding: 50px 0;
    h2 {
      color: $white;
      margin-bottom: 50px;
    }
    label.h3 {
      color: #fff;
    }
    legend {
      color: #fff;
      margin-bottom: 40px;
    }
    .product-container {
      position: relative;
      @include mq($from: tablet) {
        &:after{

        }
      }
    }
    input:checked {
      background: red;
    }
    .color-choices{
      @include mq($from: tablet) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-self: center;
        justify-self: center;
        font-size: 0;
      }
      @include mq($from: tablet, $until: desktop) {
        grid-template-columns: 1fr 1fr;
      }
      > .selection-container {
        @include mq($from: tablet) {
          display: inline-block; 
          width: 33%;
          min-height: 180px;
        }
        @include mq($from: tablet, $until: desktop) {
          width: 50%;
          min-height: 150px;
        }
        vertical-align: top;

        @supports (display: grid) {
          width: auto;
        }
      }
      .selection-container {
        &.active .colour{
          border: 5px solid $brand-secondary;
        }
      }
      .colour {
        border: 5px solid transparent;
        min-height: 200px;
        display: block;
        padding: 60px 40px 40px;
        color: $white;
        overflow: hidden;
        position: relative;
        transition: all .25s;
        @include mq($from: mobile, $until: tablet) {
          min-height: 0;
          padding: 40px 10px;
        }
        &:hover{
          border: 5px solid $brand-secondary;
        }
        h3 {
          letter-spacing: 0.2em;
          padding:0;
        }
      }
      label,
      h3 {
        color: $white;
        position: relative;
        z-index: 2;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.96);
        position: absolute;
        top: 0;
        left: 0;
        font-weight: 900;
        font-size: 22px;
        z-index: 2;
        letter-spacing: 0.15em;
        transition: all .25s;
        padding: 80px 40px 40px;
        display: block;
        height: 100%;
        width: 100%;
        @include mq($from: mobile, $until: tablet) {
          font-size: 20px;
          padding: 28px;
        }

      }
    }
    .other {
      text-align: left;
      background: rgba(214, 208, 208, 0.43);
      margin: 5px;
      cursor: pointer;
      border: 5px solid transparent;
      @include mq($from: mobile, $until: tablet) {
        padding: 5px 10px 20px;
      }
      &:hover {
        border: 5px solid #666666;
      }
      p {
        color: $white;
        font-style: italic;
        margin-bottom: 41px;
        margin-top: 58px;
        text-align: center;
        font-size: 18px;
      }
      label {
        color: $white;
        font-weight: bold;
        display: block;
        font-size: 18px;
        padding: 96px 5% 20px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.075em;

      }
      input {
        height: 46px;
        border: 4px solid #fff;
        outline: none;
        font-size: 18px;
        padding: 6px;
        margin: 0 5%;
        &:focus{
          border: 4px solid $brand-secondary;
        }
      }
    }
    input[type="checkbox"] + label {
      background: none;
    }
    input[type="checkbox"]:checked + label:after {
      top: 13px;
    }
  }
  .color-choices .colour img {
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index:1;
    height: 100%;
    @include mq($from: mobile, $until: tablet) {
      height: auto;
    }
  }
}
.step-4 {
  padding-bottom: 0;
  legend {
    margin-bottom: 40px;
  }
  input[type="checkbox"] + label{
    line-height: 1;
    padding: 24px 10px 10px;
  }
  .container{
    position: relative;
    padding-bottom: 120px;
    @include mq($from: tablet) {
      &:after {
        content: '';
        position: absolute;
        right: 120px;
        top: -80px;
        height: 88px;
        width: 6px;
        z-index: 0;
        background: #666666;
      }
    }
    @include mq($from: desktop) {
      &:before {
        content: '';
        position: absolute;
        left: 270px;
        top: 90%;
            height: 294px;
        width: 6px;
        z-index: 0;
        background: #666666;
      }
    }
  }
  h2 {
    margin-bottom: 45px;
  }

  img {
    position: absolute;
    width: 100%;
  }
  .col-4 > div {
    margin-bottom: 0;
  }
  label {
    position: relative;
    display: block;
  }
  .checkbox-container {
    font-size: 22px;
    line-height: 2em;
    text-align: left;
    border: 5px solid #fff;
    min-height: 295px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
  .no-addons.checkbox-container input[type="checkbox"] + label{
    background: none;
    color: $brand-secondary;
  }
  .no-addons.checkbox-container{
    border: none;
    min-height: 0;
  }
}

input[type="checkbox"] {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    background: rgba(47, 165, 192, 0.74);
    color: #fff;
    padding: 15px 11px;
  }

  // Box.
  & + label:before {
    content: '';
    margin-right: 9px;
    display: inline-block;
    vertical-align: text-top;
    width: 34px;
    height: 34px;
    top: -8px;
    position: relative;
    border: 4px solid #2fa5c0; 
    background: #fff;
  }
  
  // Box focus
  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  // Box checked
  &:hover + label:before {
    border-color: #727372;
  }

  &:checked + label:before {
    border-color: #727372;
  }
  
  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:hover + label:after {}
  &:checked + label:after {
    content: '';
    position: absolute;
    left: 22px;
    top: 24px;
    background: #fff;
    width: 11px;
    height: 19px;
    border: solid #2fa5c0;
    border-width: 0 6px 6px 0;
    transform: rotate(45deg);
  }
}
.step-5 {
  height: auto!important;
  background: radial-gradient(ellipse at center, #8fdef1 0%, #2fa6c1 100%);
  .container{
    max-width: 700px;
    margin: 0 auto 0px;
    padding-bottom: 30px;
    padding-top: 50px;
    position: relative;
    @include mq($from: tablet) {
      &:before {
        right: 0;
        top: 0px;
        width: 80%;
        position: absolute;
        content: '';
        height: 100%;
        border-top: 6px solid;
        border-right: 6px solid;
      }
      &:after {
        left: 0;
        bottom: 0px;
        width: 100%;
        position: absolute;
        content: '';
        height: 80%;
        border-bottom: 6px solid;
        border-left: 6px solid;
      }
    }
  }
  legend,
  h2{
    font-size: 34px;
    color: $white;
    margin-bottom: 25px;
  }
  label {
    color: $white;
    font-size:  20px;
    display: block;
    margin-bottom: 12px;
    font-weight: 600;
  }
  textarea{
    width: 100%;
    height: 100px;
    border: 3px solid $white;
    appearance: none;
    outline: none;
    border-radius: 0;
    margin-bottom: 25px;
    background: rgba(255,255,255,0.25);
    font-size: 18px;
    color: $brand-secondary;
    padding: 10px;
    &:focus {
      border: 3px solid $brand-secondary;
    }
   @include mq($from: mobile, $until: tablet) {
      width: 100%;
    }
  }
  input {
    width: 70%;
    margin-bottom: 25px;
    height: 45px;
    border: 3px solid $white;
    appearance: none;
    outline: none;
    background: rgba(255,255,255,0.25);
    border-radius: 0;
    font-size: 18px;
    color: $brand-secondary;
    padding: 0 10px;
    &:focus {
      border: 3px solid $brand-secondary;
    }
    @include mq($from: mobile, $until: tablet) {
      width: 100%;
    }

  }
  .contact-form {
    text-align: left;
    padding: 0 70px 50px;
    position: relative;
    z-index: 3;
    @include mq($from: mobile, $until: tablet) {
      padding: 20px;
    }
  }
  p {
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-style: italic;
    max-width: 580px;
    margin: 0 auto 30px;
  }
  button.btn-primary {
    border: none;
    text-align: center;
    margin: 20px auto 0;
    width: 100%;
    font-weight: bold;
    font-size: 22px;
    appearance: none;
    padding: 18px 0 20px;
    font-family: $font-family-body;
    @include mq($from: mobile, $until: tablet) {
      font-size: 18px;
    }
  }
}

#free-estimate input[type="radio"] {
  background: none;
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  left: 0;
  opacity: 0;
}

.bronze-plaque {
  position: relative;
  .color-choices {
    opacity: .1;
  }
  .step-3 {
    position: relative;
  }
  .step-3:after{
    position: absolute;
    content:'Bronze Plaque';
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 48px;
    color: #fff;
    top: 200px;
    left: 0;
    text-transform: uppercase;
  } 
}

