.home-hero {
	background: url(/images/home_hero_bg.jpg) no-repeat center center;
	background-size: cover;
	padding: 275px 0 225px;
	@include mq($from: mobile, $until: tablet) {
		padding: 200px 0 175px;
	}
	h1 {
		margin-top: 0;
		margin-bottom: 22px;
		color: #fff;
	}
}

.products-services {
	background-color: hsl(0, 0%, 100%);
	background-image: linear-gradient(to right, rgba(255, 236, 209, 0) 0%, hsla(15, 94%, 81%, 0.48) 100%);
	padding-bottom: 100px;
	.col-3 {
		margin-top: 85px;
		margin-bottom: 40px;
		p {
			max-width: 325px;
			margin: 0 auto;
		}
		@include mq($from: mobile, $until: tablet) {
			margin-top: 50px;
		}
	}
	.link-primary:after {
		height: 2px;
	}
}

.service-engraving {
	h3 {
		font-family: $font-family-heading;
		font-weight: 700;
		font-size: em(26);
		text-transform: none;
		letter-spacing: 0.02em;
	}
	p {
		max-width: 425px;
		margin: 0 auto;
	}
}

.our-work {
	padding-bottom: 0;
	.inner-container {
		p {
			color: hsl(198, 5%, 50%);
			line-height: em(30);
			max-width: 700px;
			margin: 20px auto 70px;
			@include mq($from: mobile, $until: tablet) {
				margin-bottom: 30px;
			}
		}
	}
	h2 {
		position: relative;
		display: inline-block;
		&:after{
			content: '';
			width: 25%;
			background: $brand-tertiary;
			height: 3px;
			position: absolute;
			bottom: -20px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

.work-grid {

	div{
		background: #eee;
		border: 1px solid #fff;
		overflow: hidden;
	}
	img{
		max-width: 100%;
		display: block;
	}

	@include mq($from: mobile, $until: tablet) {

		div {
			min-height: 450px;
		}
	}

	@include mq($from: tablet) {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		.item-1 {
			grid-column: 1;
			grid-row: 1;
		}

		.item-2 {
			grid-column: 2;
			grid-row: 1;
		}

		.item-3 {
			grid-column: 3;
			grid-row: 1 / 3;
		}

		.item-4 {
			grid-column: 4;
			grid-row: 1;
		}

		.item-5 {
			grid-column: 1;
			grid-row: 2;
		}

		.item-6 {
			grid-column: 2;
			grid-row: 2;
		}

		.item-7 {
			grid-column: 4;
			grid-row: 2;
		}
	}
}

.single-testimonial {
	max-width: 1022px;
	margin: 0 auto;

	@include mq($from: tablet) {
		display: grid;
		grid-template-columns: 210px 3fr;
		grid-gap: 62px;
	}
	@include mq($from: mobile, $until: tablet) {
		text-align: center;
	}
	.img-author {
		border-radius: 50%;
		background: #eee;
		height: 210px;
		width: 210px;
		display: inline-block;
	}

	.quote {
		text-align: left;
		p {
			font-size: em(22);
			font-style: italic;
			line-height: em(30);
			&.author {
				color: $brand-tertiary;
				font-family: $font-family-heading;
				font-weight: 700;
				font-style: normal;
				padding-left: 56px;
				position: relative;
				&:before {
					content: '';
					height: 3px;
					width: 40px;
					position: absolute;
					left: 0;
					bottom: 18px;
					background: $brand-tertiary;
				}
			}
		}
	}
}

.estimate-banner {
	background: $brand-tertiary;
	padding: 75px 0 100px;
	@include mq($from: mobile, $until: tablet) {
		padding: 50px 0 75px;
	}
	h2,p {
		color: #fff;

	}
	h2 {
		max-width: 820px;
		margin: 0 auto 40px;
		font-size: em(40);
		@include mq($from: mobile, $until: tablet) {
			font-size: em(32);
		}
	}
	p {
		max-width: 700px;
		margin: 0 auto 50px;
	}
	.btn-container {
		position: relative;
		&:after,
		&:before {
			content: '';
			position: absolute;
			height: 2px;
			background: $white;
			opacity: 0.42;
			width: 38%;
			top: 26px;
			z-index: 1;
		}
		&:after {
			right: 0;
		}
		&:before {
			left: 0;
		}
	}
	.btn-secondary {
		position: relative;
		z-index: 2;
	}
}
