.home-hero {
	background: url(/images/home_hero_bg.jpg) no-repeat center center;
	background-size: cover; 
	padding: 200px 0;
	h1 {
		margin-top: 0;
		color: #fff;
	}
}

.products-services {
	background-color: hsl(0, 0%, 100%);
	background-image: linear-gradient(to right, rgba(255, 236, 209, 0) 0%, hsla(15, 94%, 81%, 0.48) 100%);
	padding-bottom: 86px;
	.col-3{
		margin-bottom: 70px;
	}
}

.service-engraving {
	h3 {
		font-family: $font-family-heading;
		font-weight: 700;
		font-size: em(26);
		text-transform: none;
	}
}

.work-grid {

	div{
		background: #eee;
		border: 1px solid #000;
		overflow: hidden;

	}

	@include mq($from: mobile, $until: tablet) {
		div {
			min-height: 450px;
		}
	}
	@include mq($from: tablet) {

		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		height: 780px;  

	    .item-1 {
	        grid-column: 1;
	        grid-row: 1;
	    }
	    .item-2 {
	        grid-column: 2;
	        grid-row: 1;
	    }
	    .item-3 {
	        grid-column: 3;
	        grid-row: 1 / 3;
	    }
	    .item-4 {
	        grid-column: 4;
	        grid-row: 1;
	    }
	    .item-5 {
	        grid-column: 1;
	        grid-row: 2;
	    }
	    .item-6 {
	        grid-column: 2;
	        grid-row: 2;
	    }
	    .item-7 {
	        grid-column: 4;
	        grid-row: 2;
	    }
	}
}

.single-testimonial{
	@include mq($from: tablet) {
		display: grid;
		grid-template-columns: 210px 3fr;
		grid-gap: 62px;
	}
	.img-author{
		border-radius: 50%;
		background: #eee;
		height: 210px;
	}
	.quote{
		text-align: left;
	}
}