.sub-template-content.row-white.photos{
	padding-bottom: 10px;
	padding-top: 50px;
	h2,
	p {
		text-align: center;
	}
	h2{
		margin-bottom: 0;
	}
	p {
		margin-bottom: 50px;
	}
}
.products .sub-template-content {
	padding-top: 120px;
	p{
		font-size: 20px;
		line-height: 1.5em;
		text-align: center;
	}
}