<footer class="page-footer">
	<div class="container">
		<div class="footer-content">
			<div class="column">
				<a href="#"><%= current_link_to 'Caufield Engraving LTD', '/', :class => 'h2'  %></a>
				<p class="tagline">Rock Solid Service</p>
				<ul class="contact-details">
					<li>
						<span>Phone:</span><a href="tel:1-250-542-6293">1.250.542.6293</a>
					</li>
					<li>
						<span>TF:</span><a href="tel:1-855-590-6293">1.855.590.6293</a>
					</li>
					<li>
						<span>FAX:</span><a href="tel:1-250-542-9467">1.250.542.9467</a>
					</li>
					<li>
						<span>E-MAIL:</span><a href="mailto:orders@caufieldsengraving.com">orders@caufieldsengraving.com</a>
					</li>
					<li class="hours">
						<span>HOURS:</span> Monday-Friday 8:00am - 5:00pm
					</li>
				</ul>
				<em>For more information visit <a href="http://caufieldsengraving.com/">Caufields Engraving.</a></em>
				<div class="social-follow">
					
				</div>
			</div>
			<div class="column">
				<div class="map-container">
					<iframe src="https://snazzymaps.com/embed/456" width="100%" height="362px" style="border:none;"></iframe>
					<div class="address">
						<p>
							Unit #26 Alpine Centre<br />
							100 Kalamalka Lake Road<br />
							Vernon, BC Canada V1T 9G1
						</p>
					</div>

				</div>
			</div>
		</div>
		<div class="copyright">
			&copy;<script type="text/javascript">document.write(new Date().getFullYear());</script> Caufield Engraving
		</div>
	</div>
</footer>
