<footer class="page-footer">
  <div class="container">
    <div class="footer-content">
      <div class="column">
        <a href="#"><%= current_link_to 'Caufield Engraving LTD', '/', :class => 'h2'  %></a>
        <ul class="contact-details">
          <li>
            <span>Phone:</span><a href="tel:1-250-542-6293">1.250.542.6293</a>
          </li>
          <li>
            <span>TF:</span><a href="tel:1-855-590-6293">1.855.590.6293</a>
          </li>
          <li>
            <span>FAX:</span><a href="tel:1-250-542-9467">1.250.542.9467</a>
          </li>
          <li>
            <span>E-MAIL:</span><a href="mailto:orders@caufieldsengraving.com">orders@caufieldsengraving.com</a>
          </li>
        </ul>
      </div>
      <div class="column">

      </div>

    </div>
  </div>
</footer>
