  <section class="estimate-banner">
    <div class="container">
        <h2>Use our build tool to get a free estimate for<br />your custom memorial needs</h2>
        <div class="btn-container"><%= current_link_to 'Get A Free Quote', '/estimate/', :class => 'btn-secondary'  %></div>
    </div>
  </section>