---
hero_layout: "partials/layouts/hero"
title: Contact | Caufields Memorials
headline: Contact Us
subtitle: Drop us a line 
introtext: Fill in the form below and we will email you shortly with the details of your free estimate! We promise we won't spam you.
---

<form id="ajax-contact contact" method="post" action="#">

<div class="main-content">
  <section class="sub-template-content">
    <div class="container">
      <div class="product-container contact-form">
        <div class="other">
          <label for="name">Name</label>
          <input name="name" type="text" name="name" />
        </div>
        <div class="other">
          <label for="email">Email</label>
          <input name="email" type="email" name="email" required />
        </div>
        <div class="other">
          <label for="phone">Phone Number</label>
          <input name="email" type="text" name="phone" />
        </div>
        <div class="other">
          <label for="message">Your Message</label>
          <textarea name="message" rows="8" required ></textarea>
        </div>
        <button type="submit" class="btn-primary">Send in for Message</button>
      </div>
    </div>  
  </section>
</div>

</form>
<div id="form-messages"></div>

