---
hero_layout: "partials/layouts/contact_hero"
title: Contact | Caufields Memorials
headline: Contact Us
subtitle: Drop us a line
introtext: Fill in the form below and we will email you shortly with the details of your free estimate! We promise we won't spam you.
---

<div class="main-content">
  <section class="sub-template-content">
    <div class="container">
      <div class="product-container contact-form">
        <form id="ajax-contact contact" method="post" 
            action="https://static-files.canaryprint.ca/caufieldsmemorials.com/mailer.php">

          <div class="other field">
            <label for="name field">Name</label>
            <input type="text" id="name" name="name" />
          </div>
          <div class="other field">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required />
          </div>
          <div class="other field">
            <label for="phone">Phone Number</label>
            <input type="phone" id="phone" name="phone" />
          </div>
          <div class="other field">
            <label for="message">Your Message</label>
            <textarea id="message" name="message" rows="8" required ></textarea>
          </div>
          <button type="submit" class="btn-primary">Send in for Message</button>
        </form>
        <div id="form-messages"></div>
      </div>

    </div>
  </section>
</div>


