---
hero_layout: "partials/layouts/hero"
title: Our Work | Caufields Memorials
headline: Photo Gallery
subtitle: View some of the work we've done
heroimage: images/our-work-hero.jpg
introtext: We've been blessed to do memorials that have honored very special people. We look forward to helping you remember your loved ones. <br> Please contact us if you have any questions. If you need a quote, please click "Free Quote" at the top of the page and we'll assist in getting you the memorial you need for the right price.
---
<script src="//cdn.rawgit.com/stevenschobert/instafeed.js/master/instafeed.min.js"></script>
<script type="text/javascript">
    var feed = new Instafeed({
        get: 'user',
        userId: '11627250420',
        clientId: '9906c1d668804b7ebc8e6e54ec421b1e',
        accessToken: '11627250420.1677ed0.017b2c7f75094de2a74d522036bde1d6',
        template: '<a href="{{link}}"><img class="igimg" src="{{image}}" /></a> ',
        resolution: 'standard_resolution',
        limit: '18'
    });
    feed.run();
</script>


<div class="main-content">
  <section class="sub-template-content">
    <div class="insta-header">
      <h2> Check out our full gallery <a href="https://www.instagram.com/caufieldsmemorials"> HERE </a> </h2>
    </div>
      <div id="instafeed"></div>
    <div class="insta-header">
      <h2> Check out our full gallery <a href="https://www.instagram.com/caufieldsmemorials"> HERE </a> </h2>
    </div>
  </section>
    <%= partial "partials/layouts/quote_banner" %>
</div>
