---
hero_layout: "partials/layouts/hero"
title: Onsite Sandblasting | Caufields Memorials
headline: On-site Sandblasting
subtitle: We come to you! Name and date additions on site right in the cemetery.
heroimage: images/onsite_hero.jpg
introtext: 
---
<div class="main-content">
  <section class="sub-template-content">
    <div class="container">
      <p>For name/date additions on monuments and headstones we go right to the cemetery and blast in place, meaning the stone does not have to be lifted, cleaned and transported saving costs and getting the job done faster. For Address Stones we come right to your property at a convenient time and do all masking and sandblasting right there on site.</p>
    </div>  
  </section>
  <section class="sub-template-content row-white">
    <div class="container">
     <h2>Photos</h2>
   </div>
  </section>
    <%= partial "partials/layouts/quote_banner" %>
</div>
