---
hero_layout: "partials/layouts/hero"
title: Bronze Plaques and Name Bars | Caufields Memorials
headline: Bronze Plaques & Name Bars
subtitle: Competitively priced starting at $499
heroimage: images/plaque_work_5.jpg
introtext: Custom cast bronze plaques and engraved metal plaques made for bench memorials or personal memorials in many different colors.
---
<div class="main-content product-template products">
  <section class="sub-template-content product-details">
    <div class="container">
      <p>We create art used for the molding process of cast metal or bronze plaques for memorial and historical purposes. URNS: We carry a line of urns as well as engrave many different types of urns that are brought in. Either metal, wood or stone, we can print on them. If it is round in shape we use our ‘rotisserie’ attachment for the laser machine to ‘turn’ them so the print is even around a curved surface.</p>
      <p>We create digitally produced art for memorial or historical purposes to be used in the molding process for producing cast bronze plates and plaques. The file is then sent to a foundry plant that produces a custom mold taken from the digital art file. They then use a combination of zink and aluminum with other metals melted together to make the casting mixture. The molten casting mixture is then poured into the mold to make the custom metal cast plaque or plate. It is cooled, painted and polished and sent back to us for installation. These plaques take about 6 weeks in production and are a very durable and permanent fixture but come at a higher cost.</p>
    </div>  
  </section>
  <section class="sub-template-content row-white image-row">
    <div class="container">
     <h2>Photos</h2>
     <p>Some examples of our Bronze Plaques</p>
        
      <div class="col-4">
        <div class="item-1">
          <%= image_tag "images/plaque_work_1.jpg", :alt => '' %>
        </div>
        <div class="item-2">
           <%= image_tag "images/plaque_work_2.jpg", :alt => ' ' %>
        </div>
        <div class="item-3">
          <%= image_tag "images/plate_work_5.jpg", :alt => '' %>
        </div>
      </div>
      <p class="fb-cta">You can see more examples of our work on our<a href="https://www.facebook.com/pg/CaufieldsEngraving/photos/?ref=page_internal" target="_blank"> Facebook</a>!</p>
    </div>
  </section>
    <%= partial "partials/layouts/quote_banner" %>
</div>
