---
hero_layout: "partials/layouts/hero"
title: Plates | Caufields Memorials
headline: Plates
subtitle: Custom cast name bars and plates for bronze plaques and cremation/columbarium walls.
heroimage: images/plates_hero.jpg
introtext: 
---
<div class="main-content">
  <section class="sub-template-content">
    <div class="container">

    </div>  
  </section>
  <section class="sub-template-content row-white">
    <div class="container">
      <h2>Photos</h2>
    </div>  
  </section>
    <%= partial "partials/layouts/quote_banner" %>
</div>
