---
hero_layout: "partials/layouts/hero"
title: Plates | Caufields Memorials
headline: Plates
subtitle: Custom cast name bars and plates for bronze plaques and cremation/columbarium walls.
heroimage: images/plate_work_1.jpg
introtext: 
---
<div class="main-content">
  <section class="sub-template-content product-details">
    <div class="container">
<p>We custom make engraved plates out of any color of metal for either indoor or outdoor purposes. We can make them any size with pre-drilled holes or double sided tape for mounting. You choose the image and font for bench plates, crematorium or any memorial purpose</p>
    </div>  
  </section>
  <section class="sub-template-content row-white image-row">
    <div class="container">
      <h2>Photos</h2>
      <p>Some examples of our Plates</p>
    </div>
      <div class="col-4">
        <div class="item-1">
          <%= image_tag "images/plate_work_2.jpg", :alt => '' %>
        </div>
        <div class="item-2">
           <%= image_tag "images/plate_work_3.jpg", :alt => ' ' %>
        </div>
         <div class="item-3">
           <%= image_tag "images/plate_work_4.jpg", :alt => '' %>
        </div> 
      </div>
      <p class="fb-cta">You can see more examples of our work on our<a href="https://www.facebook.com/pg/CaufieldsEngraving/photos/?ref=page_internal" target="_blank"> Facebook</a>!</p>

  </section>
    <%= partial "partials/layouts/quote_banner" %>
</div>
