---
hero_layout: "partials/layouts/hero"
title: Services | Caufields Memorials
headline: Our Process
subtitle: From start to finish we are here for the entire process.
heroimage: images/process_hero.jpg
introtext: To find out more please click the ‘Free Quote’ button to give us an idea of what you are looking for. We can give you an idea of the potential cost and discuss the available options. The process can take some time depending on the required services but we strive to make the process as seamless as possible. Our in-house productions allows for timely delivery and exceptional service, making us an industry leader.
---

<div class="main-content">
  <section class="sub-template-content">
    <div class="container">
      <h3>Memorial Orders</h3><p> These can take 1-2 weeks to 2-3 months depending on art approval, available stock or if it is a custom stone order. If the stone is in stock, it can depend on your decisions making regarding art approval. We take your ideas and provide a digital mock up, with different fonts, images, placement and borders available. This is emailed to you which you can then send around to family members to help in the decision making process. Our Facebook page also has an available gallery for potential ideas. Once your final decision has been confirmed we move the order into production. The mask is cut within a few days and applied to the stone unless it is a custom order which takes more time. The sandblasting is then done and the stone will be painted at the same time if required. From the time of art approval it generally takes a week for a stone to be done and ready for delivery or pick up.
      </p>
      <h3>Address Stone Orders</h3><p> These are usually done within 1-2 weeks. A straight on image of the stone is required with a height and width measurement. We then superimpose the text and images on top of the photo for an idea of size and look. Alterations can be made and when a decision is reached the mask is then cut. A date is set when it would be convenient for our team to come to your property to do the sandblasting. The process does not disturb anything on your property as we tent and tarp the entire area and collect all the sand after to be reused. lcome to watch or stay while we do the job, people often are interested in watching the process although it is very loud.
      </p>
      <h3>On-site Headstone Additions</h3><p> This is similar to an address stone as a straight on picture of the monument is needed as well as the height of the text and the spacing in between. The same process is then done with a digital proof and a date for the job is fixed which we set up with the cemetery caretaker.
      </p>
    </div>
  </section>
  <section class="sub-template-content row-white">
    <div class="container">
      <h3>LASER ENGRAVING:</h3><p> This process is a laser machine vaporizing material ‘out’ of an area. Used for any material that won’t melt when heat treated and is a very precise method of marking. It is done with digital art printed through a laser engraver.
      </p>
      <h3>ROTARY ENGRAVING:</h3><p> We also do rotary engraving with a router type engraver printed digitally through a routering program using different bits to router ‘out’ material. This process is used for anything that can’t be heat treated on a laser, is too thick or cannot be cut with a laser. ie: metal
      </p>
      <h3>SANDBLASTING:</h3><p> This process is done by hand with a blast gun shooting compressed air and blasting medium through a hose at an object that has been covered with rubber mask with the exposed parts being ‘blasted’ out by the sand.
      </p>
      <h2>Physical Process: </h2>
      <h3>Sandblasting:</h3><p> First we draw the art digitally in an art program which we use for the proofing process so you can see precisely what it will look like. Next, we cut out the mask digitally on the laser and ‘weed’ out the parts that are to be recessed. After measuring and marking where the mask will go on the product we then peel the back of the mask to expose the adhesive baking and stick it on. Every part of the product has to be taped using a protective rubber tape so it doesn’t receive any wear from the excess material moving at high speeds in the booth. A blast gun is used to shoot abrasive material and compressed air at very high speed at the object and the places that are exposed are ‘blasted’ out and the rest of the ‘sand’ bounces off the rubber and tape where it is not to be marked. We minimize dust by blasting in a tent with a dust collection system when we are on-site to avoid any excess dust on the property along with tarps and boards to not disturb the ground. There is a dust collection system installed to collect the dust when we are blasting in-house as well. The on-site process takes about one hour given no issues.
      </p>
      <h3>Laser Engraving:</h3><p> The easy way to understand the laser engraving process is, it’s just like printing on a regular printer but instead of different inks, you print with percentage of power (100% of the whatever power your laser is), speed (that the printhead travels at) and frequency (the amount of times the laser shoots per second). This is all determined by the percentage of black in a picture so everything has to be printed in greyscale. We print on metal, plastic, glass, stone, wood, rubber, fabric, foam, paper, ceramic, fiberglass or pretty much anything you can think of. We have even done cookies, apples and bananas and of course pumpkins at Halloween! We set up the art digitally in an art program which is printed to a driver that controls the engraver. The laser is produced from a CO2 cartridge turning through a series of mirrors and lenses to essentially vaporize the material its being printed on. The laser head does not actually touch the material so it does not have to be taped or held down in any way other than if it will be displaced by the suction of the exhaust flowing through the machine. You need to know where the laser is going to land since you have a large table and different sized objects on it so almost everything has to be test printed beforehand. There are two different types of laser engraving as well; ‘raster engraving’ where the head travels back and forth on one plane on the x-axis as it is focused to the material very accurately and takes out blocks of material. The other is ‘vector cutting’ which is where the head travels on one plane but a combination of x and y axis travel allowing it to cut in all directions. The timing for any different job is very different when lasering depending on the material. For a typical order to be done we try to process them in a week.
      </p>
      <h3>
      Rotary Engraving:</h3><p> This utilizes different cutting bits to carve out material and is known as the ‘old’ way of engraving but can still be very useful. The art is set up through a digital art program but specific to the routering format. Material is laid out on a table but has to be held in place either by a jig, tape or vice so it doesn’t move when the bit touches it. The bits come in many different sizes and materials. The different bit sizes will give you a different line width depending on the pressure you apply downward on the bit. You can also set the speed the head travels at and the spindle RPM for harder or softer materials and to finish edges in a certain way. We use this machine to cut out thicker metal and some plastics that are non-engravable or have a low acrylic content and therefore melt when treated with the high heat of a laser engraver.
      </p>
    </div>
  </section>
    <%= partial "partials/layouts/quote_banner" %>
</div>
