---
hero_layout: "partials/layouts/hero"
title: Services | Caufields Memorials
headline: Our Services
subtitle: Engraved products and services
heroimage: images/services_hero.jpg
introtext: Caufields Memorials is committed to the best service for your family through the entire process of creating a lasting memory of your loved one or a creative landmark for your property or business. Our stone work is done with the most recent technology so we can provide current graphics and fonts in a very timely manner. We combine laser technology with sandblasting to create any combination of photos, graphics and text for one of a kind pieces that you won’t find anywhere else. We do all of our own digital art, masking and sandblasting, laser engraving and painting in house making it a seamless process for families to get it all done in one place. With laser technology at our fingertips we can offer laser engraved photos, scenes, portraits, tracing of personal objects and the most modern images in the industry. Our pricing reflects this process as we do all the work ourselves reducing the costs of buying services from other suppliers. 
---
<div class="main-content">
  <section class="sub-template-content">
    <div class="container">
      <h3>IN HOUSE SANDBLASTING:</h3><p> We do In-House sandblasting here in our blast booth for all new stone orders. We keep many colors and sizes of granite in stock so lead time on an in stock order (barring art approval) can be very short if needed. We take smaller natural stones that are brought in as well for in-house blasting as it is slightly more cost effective for smaller projects.</p>
      
      <h3>ON-SITE SANDBLASTING:</h3> <p> For name/date additions on monuments and headstones we go right to the cemetery and blast in place, meaning the stone does not have to be lifted, cleaned and transported saving costs and getting the job done faster. For Address Stones we come right to your property at a convenient time and do all masking and sandblasting right there on site. 
      </p>
      <h3>RESTORATION:</h3> <p>Cleaning, painting and full restoration services are also available bringing any stone back to a ‘brand new’ finish. We restore granite memorial stones, bronze monuments, marble statues and natural monuments of all ages and kinds by cleaning, polishing and repainting them to look like new.
      </p>
      <h3>BRONZE PLAQUES:</h3><p> We create art used for the molding process of cast metal or bronze plaques for memorial and historical purposes. 
      URNS: We carry a line of urns as well as engrave many different types of urns that are brought in. Either metal, wood or stone, we can print on them. If it is round in shape we use our ‘rotisserie’ attachment for the laser machine to ‘turn’ them so the print is even around a curved surface. 
      </p>
    </div>  
  </section>
  <section class="sub-template-content row-white">
    <div class="container">
      <h2>Products and material:</h2>
      <h3>Memorial Stones (Headstones):</h3> <p>We make and mark either traditional headstones in many shapes and colors with polished faces as well as polished or broken edges and bases to match. We also do non-traditional (natural) type stones for memorial purposes which we have both polished and unpolished on one surface in stock. Our granite headstones and marble is ordered in from all over the world to offer the many different colors needed. Each stone is from a certain area where it occurs naturally, for instance ‘Dakota Mahogany’ is from Dakota USA, Black granite is from either China or India, Blue Pearl is from Norway, Barre Grey is from the town of Barre Vermont,  etc.</p>

      <h3>Address Stones:</h3><p> We sandblast large address stones or boulders for properties and acreages or businesses as well as custom structures to hold or hang stone. We have some larger natural stone in stock, mostly pieces we personally like or have found for smaller custom projects like wedding gifts or decoration pieces. We are more than willing to find stone for anyone given a description of what is wanted but most people find their own. If you do not have a boulder in place on your property any landscape contractor will have access to large stones and how to move them. In previous orders we have built anything from timber frame standing signs to iron wrapped hanging stones. Any type of stone is ok to use for sandblasting other than slate types which we cannot do because of the flakiness of the stone. 
      </p>
      <h3>Mask:</h3><p> We use the highest quality rubber mask which cuts very precisely on the laser. It is very durable allowing us to sandblast on rough, raw and polished stone. We can travel almost anywhere to complete on-site work meaning there is almost nothing we cannot do. We have a small transportable laser machine which we take ‘on the road’ when we do out of town jobs to cut the mask. The mask is never cut by hand and is always digitally printed for uniformity.
      Restoring and Cleaning: We use a natural cleaning solution specifically meant for natural stone that takes off water stains and residue, moss and lichen residue and stains. It also works over time to reduce the stains and growth of any type of moss or molds. After scrubbing the stone with a natural bristle brush so we do not cause any scratching we then pressure wash all stones and cement surroundings. We also cut back overgrown grass and dirt to establish the original base size and create a drainage path so excess water from rainfall and sprinklers can drain and not pool making the base look dirty again. If the monument needs painting we dry and polish the face and tape off the 
      </p>
      <h3>Bronze Plaques:</h3><p> We create digitally produced art for memorial or historical purposes to be used in the molding process for producing cast bronze plates and plaques. The file is then sent to a foundry plant that produces a custom mold taken from the digital art file. They then use a combination of zink and aluminum with other metals melted together to make the casting mixture. The molten casting mixture is then poured into the mold to make the custom metal cast plaque or plate. It is cooled, painted and polished and sent back to us for installation. These plaques take about 6 weeks in production and are a very durable and permanent fixture but come at a higher cost. 
      </p>
  </section>
    <%= partial "partials/layouts/quote_banner" %>
</div>
